doctype
html(lang=config.language)
    head
        include head.jade
    body
        include nav.jade

        block header
        block content
        block comment

        include footer.jade
        include footer-scripts.jade
